/********** Template CSS **********/
:root {
  --primary: #0D5B8C;
  --secondary: #FFF0E6;
  --light: #F8F8F9;
  --dark: #001D23;
}



.customcarousel-item {
  position: relative;
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: brightness(40%);
}


.custom-carousel-control-prev,
.custom-carousel-control-next {
  width: auto;
  background-color: rgba(0, 0, 0, );
}

.custom-carousel-control-prev-icon,
.custom-carousel-control-next-icon {
  background-image: none;

  color: #fff;
}


.custom-carousel-indicators .active {
  background-color: #007bff;
}

.custom-carousel-indicators.move-left {
  transform: translateX(-30px);
}

.custom-carousel-indicators.move-right {
  transform: translateX(30px);
}


.navbar {
  background-color: transparent !important;
  position: absolute;
  height: 110px;
  padding: 10px;
  width: 100%;
  z-index: 999;
  transition: background-color 0.5s;
}

.navbar-brand,
.navbar-nav {
  background-color: transparent !important;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.Logo {
  padding-top: 30px;
  width: 130px;
  height: 64px;
  top: calc(50% - 67px/2);
  background: url(maqar.png);
}

.nav-item {
  margin: 0 20px;
  padding: 40px;
}

.navbar-nav .nav-link {
  width: auto;
  height: 22px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: #F2F2F2;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9999;
  color: #ffffff;
}

.slider-text h1 {
  width: 827px;
  height: 69px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 49px;
  line-height: 140%;
  align-items: center;
  text-align: center;
  color: #B9EBFB;
  flex: none;
  order: 0;
  flex-grow: 0;
}



.slider-text p {
  margin: 0 auto;
  width: 827px;
  height: 86px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F2F2F2;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
.carousel-indicators li:nth-child(1) {
  background-color: #B9EBFB;
}
.carousel-indicators li:nth-child(2) {
  background-color: white;
}

.carousel-indicators li:nth-child(3) {
  background-color: #007bff;
}

.carousel-indicators .active {
  background-color: #007bff;
}

.carousel-indicators button {
  position: relative;
  top: 50px;

}

.carousel-indicators li {
  cursor: pointer;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  border-radius: 50%;
  background-color: #bbb;
  border: none;
  transition: background-color 0.5s ease;
}



.carousel-indicators .active {
  background-color: #007bff;
}

.carousel-indicators.move-left {
  transform: translateX(-30px);
}

.carousel-indicators.move-right {
  transform: translateX(30px);
}


.book-button {
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 234px;
  height: 65px;
  border: 1px solid #F2F2F2;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.12));
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 auto;
}


.book-button:hover {
  color: white;
  background-color: #0D5B8C;
  border-color: #0D5B8C;
}

.book-button img {
  width: 24px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}

/* video */
.video-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 600px;
  padding: 80px 60px 0;
  overflow: hidden;
}

@media (max-width: 991px) {
  .video-section {
    padding: 0 20px;
  }
}

.video-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.video-content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 748px;
  max-width: 100%;
  margin-top: 56px;
}

@media (max-width: 991px) {
  .video-content {
    margin-top: 40px;
  }
}

.video-title {
  color: var(--White, #f2f2f2);
  text-align: right;
  align-self: center;
  font: 600 39px/140% Lato, sans-serif;
}

@media (max-width: 991px) {
  .video-title {
    max-width: 100%;
  }
}

.video-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 444px;
  width: 100%;
  margin-top: 56px;
  padding: 80px 60px;
  border: 4px solid rgba(242, 242, 242, 1);
  border-radius: 42px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .video-player {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}

.play-icon {
  width: 84px;
  margin: 101px 0 63px;
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  cursor: pointer;
}

@media (max-width: 991px) {
  .play-icon {
    margin: 40px 0;
  }
}
#work {
  padding: 6vh 4vw;
  font-weight: bold;
}

#work p {
  font-weight: bold;
  font-size: x-large;
  direction: rtl;
}

#work h1 {
  position: relative;
  left: 1170px;
  color: #0D5B8C;
  padding: 5px 0px;
  border-bottom: 4px solid #0D5B8C;
  ;
  width: 6%;
}

#photos {
  width: 100%;
  columns: 3;
  column-gap: 4%;
  z-index: 1;
  transition: 0.4s ease-in-out;
}

#photos img {
  width: 100%;
  border-radius: 16px;
  margin: 4.5% 0px;
  transition: 0.4s ease-in-out;
}

#photos img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.services-section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  min-height: 350px;
  align-items: center;
  color: var(--White, #f2f2f2);
  text-align: right;
  line-height: 140%;
  justify-content: center;
  padding: 39px 60px;
}

@media (max-width: 991px) {
  .services-section {
    padding: 0 20px;
  }
}

.services-background {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.services-content {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
}

@media (max-width: 800px) {
  .services-content {
    max-width: 100%;
  }
}

.services-title {
  color: #fff;
  align-self: center;
  font: 600 39px Lato, sans-serif;
}

.services-list {
  justify-content: space-between;
  display: flex;
  margin-top: 53px;
  gap: 11px;
  font-size: 31px;
  font-weight: 700;
  padding: 0 24px;
}

@media (max-width: 991px) {
  .services-list {
    flex-wrap: wrap;
    margin-top: 40px;
    padding: 0 20px;
    justify-content: center;
  }
}

.service-item {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px;
}

.service-icon {
  aspect-ratio: 1;
  object-fit: contain;
  width: 110px;
  align-self: center;
  max-width: 100%;
}

.service-name {
  font-family: Lato, sans-serif;
  margin-top: 18px;
}



/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}


/*** Button ***/
.btn {
  color: #0D5B8C;
  border-color: #0D5B8C;
  font-weight: 500;
  transition: .5s;
}





.btn.btn-primary,
.btn.btn-outline-primary:hover {
  color: #0D5B8C;
  border-color: #0D5B8C;
  background: #0D5B8C;
  background: transparent;
}

.btn.btn-primary:hover {
  border-color: #0D5B8C;
  color: #fff;
  background-color: #0D5B8C;
}

.btn-square {
  color: #0D5B8C;
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  color: #0D5B8C;
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  color: #0D5B8C;
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  color: #0D5B8C;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}


/*** Navbar ***/
.fixed-top {
  transition: .5s;
}

.top-bar {
  height: 45px;
  border-bottom: 1px solid rgba(255, 255, 255, .07);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #FFFFFF;
  font-weight: 500;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: #0D5B8C;
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav {
    margin-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, .07);
    background: var(--dark);
  }

  .navbar .navbar-nav .nav-link {
    padding: 10px 0;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    transition: .5s;
    opacity: 0;
  }

  .navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    transition: .5s;
    opacity: 1;
  }
}


/** comment **/

.testimonials-section {
  display: flex;
  flex-direction: column;
}

.testimonials-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 5px 10px;
}

@media (max-width: 991px) {
  .testimonials-header {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.testimonials-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: auto 0;
}

.testimonials-icon-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 6px;
  border: 1px solid #0d5b8c;
  border-radius: 50%;
  background-color: #0d5b8c;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.testimonials-icon-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 6px;
  border: 1px solid #0d5b8c;
  border-radius: 50%;
  background-color: #f2f2f2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.testimonials-icon-img {
  width: 32px;
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  cursor: pointer;
}


.testimonials-title {
  color: #0d5b8c;
  text-align: right;
  font: 600 39px/1.4 Lato, sans-serif;
}

.testimonials-grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 64px;
  padding: 0 20px;
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 991px) {
  .testimonials-grid {
    max-width: 100%;
    margin-top: 40px;
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.testimonial-card {

  width: 300px;
  height: 384px;
  left: 475px;
  top: 19px;
  background: #F2F2F2;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  flex: 0 0 auto;
  margin-right: 20px;
  transition: margin 0.5s ease-in-out;
}

@media (max-width: 991px) {
  .testimonial-card {
    width: 100%;
    margin-top: 40px;
  }
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 384px;
  left: 475px;
  top: 19px;
  padding: 45px 25px 80px;
  border-radius: 16px;
  background-color: #f2f2f2;
  box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 991px) {
  .testimonial-content {
    padding: 0 20px;
  }
}

.testimonial-avatar {
  width: 64px;
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}

.testimonial-name {
  margin-top: 8px;
  color: #0d5b8c;
  text-align: right;
  font: 500 25px/1.4 Lato, sans-serif;
}

.testimonial-rating {
  display: flex;
  justify-content: space-between;
  width: 148px;
  max-width: 100%;
  margin-top: 8px;
  gap: 7px;
}

.testimonial-star {
  width: 24px;
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
}

.testimonial-text {
  margin: 24px 0 12px;
  color: #0d0d0d;
  text-align: center;
  font: 500 20px/1.4 Lato, sans-serif;
}

.testimonial-card:nth-child(2),
.testimonial-card:nth-child(3) {
  margin-left: 20px;
}

@media (max-width: 991px) {

  .testimonial-card:nth-child(2),
  .testimonial-card:nth-child(3) {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .testimonial-rating {
    padding-right: 20px;
  }
}

input:focus,
textarea:focus {
  border-color: #0D5B8C !important;
  box-shadow: 0 0 0 0.25rem rgba(13, 91, 140, 0.25) !important;
}

/*** اكتشف ***/
.discover-beauty-container {
  align-items: center;
  background-color: #1b2121;
  display: flex;
  justify-content: center;
  padding: 64px 60px;
  height: 700px !important;
}

@media (max-width: 991px) {
  .discover-beauty-container {
    height: 1200px !important;
  }
}

.discover-beauty-content {
  width: 100%;
  max-width: 1190px;
}

@media (max-width: 991px) {
  .discover-beauty-content {
    max-width: 100%;
  }
}

.discover-beauty-columns {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .discover-beauty-columns {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.image-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0;
}

@media (max-width: 991px) {
  .image-column {
    width: 100%;
  }
}

.image-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

@media (max-width: 991px) {
  .image-wrapper {
    max-width: 100%;
    margin-top: 25px;
  }
}

.property-image {
  aspect-ratio: 1.32;
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 30px;
  padding: 10px;
}

@media (max-width: 991px) {
  .property-image {
    max-width: 100%;
  }
}

.image-indicators {
  align-self: center;
  display: flex;
  margin-top: 16px;
  gap: 8px;
}

.indicator-white,
.indicator-blue,
.indicator-dark-blue {

  height: 10px !important;
  width: 10px !important;
  border-radius: 50%;
  cursor: pointer;
}

.indicator-white {
  background-color: #f2f2f2;
}

.indicator-blue {
  background-color: #44d2f2;
}

.indicator-dark-blue {
  background-color: #0d5b8c;
}

.content-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .content-column {
    width: 100%;
  }
}

.content-wrapper {
  align-items: end;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #f2f2f2;
  text-align: right;
  line-height: 140%;
  margin: auto 0;
}

@media (max-width: 991px) {
  .content-wrapper {
    max-width: 100%;
    margin-top: 40px;
  }
}

.section-title {
  color: #b9ebfb;
  font: 600 39px Lato, sans-serif;
}

.section-description {
  align-self: stretch;
  margin-top: 42px;
  font: 500 25px/35px Lato, sans-serif;
}

@media (max-width: 991px) {
  .section-description {
    max-width: 100%;
    margin-top: 40px;
  }
}

.cta-button {
  background-color: transparent !important;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(242, 242, 242, 1);
  margin-top: 64px;
  width: 234px;
  max-width: 100%;
  padding: 22px 60px;
  font: 400 16px Lato, sans-serif;
}

.cta-button:hover {

  background-color: #0D5B8C !important;
}

@media (max-width: 991px) {
  .cta-button {
    margin: auto;
    padding: 1 20px;
    margin-bottom: 10px;
  }
}




/* الباقات */
.card {
  justify-content:center;
  border-radius: 32px;
  box-shadow: 0px 4px 13.1px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--White, #f2f2f2);
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 345px;
}

.card-content {
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.24);
  background-color: var(--White, #f2f2f2);
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 40px 0px;
  height: 792px;
}

.card-title {
  color: var(--100, #0d5b8c);
  text-align: right;
  font: 600 49px/140% Lato, sans-serif;
}

.price-container {
  display: flex;
  margin-top: 16px;
  width: 120px;
  max-width: 100%;
  padding-bottom: 6px;
  align-items: flex-start;
  gap: 0px;
  font-size: 46px;
  color: var(--100, #364e66);
  font-weight: 800;
  white-space: nowrap;
  text-transform: capitalize;
  letter-spacing: 0.92px;
  line-height: 100%;
}

.currency-icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 48px;
  align-self: start;
}

.price {
  font-family: Almarai, sans-serif;
  align-self: end;
  margin-top: 22px;
}

.features-list {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.feature-item {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: var(--100, #0d5b8c);
  font-weight: 600;
  line-height: 28px;
  padding: 6px 10px;
}

.feature {    
  padding-right: 16px;
  justify-content: end;
  border-radius: 8px;
  display: flex;
  gap: 10px;
}

.feature-text {
  font-family: Lato, sans-serif;
  flex: 2;
}

.feature-icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 30px;
  margin: auto 0;
}

.unavailable-feature {
  padding-right: 16px;
  justify-content: end;
  border-radius: 8px;
  display: flex;
  margin-top: 28px;
  gap: 10px;
  color: var(--Gray, #b9b9b9);
  line-height: 140%;
}

.unavailable-feature-text {
  font-family: Lato, sans-serif;
  text-decoration-line: strikethrough;
  flex: 1;
}

.cta-button {
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  background-color: var(--200, #0d688c);
  align-self: center;
  margin-top: 32px;
  width: 234px;
  max-width: 100%;
  color: var(--White, #f2f2f2);
  padding: 22px 60px;
  font: 400 16px/140% Lato, sans-serif;
}
.cta-button2 {
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  align-self: center;
  margin-top: 32px;
  width: 234px;
  max-width: 100%;
  background-color: var(--200, #0d688c);
  color: var(--White,#fff);
  padding: 22px 60px;
  font: 400 16px/140% Lato, sans-serif;
  text-decoration: none; /* Remove default underline */
  display: inline-block;
}
.cta-button2:hover{
  background-color: transparent;
  color:#0d688c;
  border:solid 1px #0d688c;
  
}


.packages-container {
  display: flex;
  justify-content: flex-start; /* Align items to the start of the flex container */
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px; 
}

.card:hover,
.card-content:hover {
  background: #F2F2F2;
  border: 4px solid #B9EBFB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
}

@media (max-width: 991px) {
  .card {
    width: 100%;
    max-width: 384px;
    margin-bottom: 20px;
  }
}
.packages {
  display: flex;
  flex-direction: column;
}

.packages-title {
  color: var(--100, #0d5b8c);
  text-align: right;
  align-self: end;
  font: 600 39px/140% Lato, sans-serif;
}

.packages-description {
  color: #000;
  text-align: right;
  margin-top: 24px;
  width: 100%;
  font: 500 25px/35px Lato, sans-serif;
}

@media (max-width: 991px) {
  .packages-description {
    max-width: 100%;
  }
}

.packages-container {
  justify-content: center;
  margin-top: 64px;
  width: 100%;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .packages-container {
    max-width: 100%;
    margin-top: 40px;
  }
}

.packages-row {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .packages-row {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.package-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  padding: 15px;
  margin-left: 0px;
}

.package-card:hover,
.package-card:hover .package-header {
  border-color: #0d5b8c;
}

@media (max-width: 991px) {
  .package-column {
    width: 100%;
  }
}

.package-card {
  justify-content: center;
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 4px;
  background-color: var(--White, #f2f2f2);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 12px;
}

@media (max-width: 991px) {
  .package-card {
    margin-top: 24px;
  }
}

.package-header {
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 5px;
  background-color: var(--White, #f2f2f2);
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 32px 0;
}

.package-name {
  color: var(--100, #0d5b8c);
  text-align: right;
  font: 600 49px/140% Lato, sans-serif;
}

@media (max-width: 991px) {
  .package-name {
    font-size: 40px;
  }
}

.package-price {
  display: flex;
  margin-top: 16px;
  padding-bottom: 6px;
  align-items: flex-start;
  gap: 0px;
  font-size: 46px;
  color: var(--100, #364e66);
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: 0.92px;
  line-height: 100%;
}

@media (max-width: 991px) {
  .package-price {
    font-size: 40px;
  }
}

.package-price-icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 48px;
  align-self: start;
}

.package-price-value {
  font-family: Almarai, sans-serif;
  align-self: end;
  margin-top: 22px;
}

@media (max-width: 991px) {
  .package-price-value {
    font-size: 40px;
  }
}

.package-features {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 5px;
  margin: auto;
}

.package-features-list {
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: var(--100, #0d5b8c);
  font-weight: 600;
  line-height: 28px;
  padding: 0 8px;
}

.package-feature {
  padding: 5px;
  margin: 5px;
  justify-content: end;
  border-radius: 8px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  gap: 10px;
}

.package-feature-text {
  font-family: Lato, sans-serif;
  flex: 1;
}

.package-feature-icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
  margin: auto 0;
}

.package-feature-disabled {
  padding-right: 16px;
  justify-content: end;
  border-radius: 8px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  margin-top: 28px;
  gap: 10px;
  color: var(--Gray, #b9b9b9);
}

.package-feature-disabled-text {
  font-family: Lato, sans-serif;
  text-decoration-line: strikethrough;
  flex: 1;
}

.package-cta {
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--200, #0d688c);
  align-self: center;
  margin-top: 32px;
  width: 234px;
  max-width: 100%;
  color: var(--White, #f2f2f2);
  padding: 22px 60px;
  font: 400 16px/140% Lato, sans-serif;
}

.package-cta:hover {
  background-color: var(--200, #fff);
  color: var(--White, #0d688c);
}

@media (max-width: 991px) {
  .package-cta {
    padding: 0 20px;
  }
}
/*** Service ***/
.service-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .06);
}

/*** Footer ***/

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--light);
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .btn.btn-square {
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.footer .btn.btn-square:hover {
  color: var(--secondary);
  border-color: var(--light);
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: var(--secondary);
}

.footer .copyright a:hover {
  color: #0D5B8C;
}